* {
  box-sizing: border-box;
}

.form {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
}

input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover {
  border: 1px solid #000;
}

input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

.btn-search,
.btn-load {
  border: none;
  border-radius: 8px;

  height: 40px;
  background-color: #4e75ff;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-search {
  width: 91px;
}

.btn-load {
  margin: 32px auto;
  width: 125px;
}

.btn-search:hover,
.btn-load:hover {
  background-color: #6c8cff;
}

.btn-load.hidden {
  display: none;
}

.gallery {
  margin: 0 auto;
  max-width: 1128px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #808080;
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-item img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}

.descr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.descr-item {
  margin: 4px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descr-item h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.descr-item p {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
